#containAll{
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-items: left;
}
#displayEvents{
  margin: .5rem 0;
  font-size: 1rem;
  
}



.gameRow .gameCell, .gameHeaderRow .gameHeaderCell{
  margin: .5rem;
}

.gameHeaderCell{
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}